@import url('https://fonts.googleapis.com/css?family=Lato|Supermercado+One');


nav {font-family: Lato; font-size: 18px;}

body {
    background-image: url("map-bg.jpg");
 }
#main {width: 900px; margin: 10px auto;}
 
h1 {font-family: "Supermercado One"; Font-size: 45px}

div {
    column-rule: 2px dashed rosybrown;
}
#menu {columns: 400px 2; column-gap: 100px;}
section {margin-bottom: 50px;}

h2 {font-variant: small-caps;color:  #6d4c6d;}

dt {font-weight: bold;font-size: 20px;}

dd {margin: 0 0 12px 0; display: flex;}

.details {order: 1;}

.price {font: large;color:  #B22222}
.price {order: 2; padding-left: 10px;}

footer {border-style: dashed;border-width: 2px;border-color: rosybrown;}

address {padding: 10px;}